<!DOCTYPE html>
<html>
    <head>
        <title>About</title>
        <link rel="icon" href="/img/weather.png">
        <link rel="stylesheet" href="/css/styles.css">
        
    </head>
    <body>
        <div class="main-content">
            {{>header}}
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores commodi voluptates quia, doloremque cumque aliquid nesciunt rerum sint voluptatum labore eaque non dolor voluptatem vel laudantium suscipit neque quaerat itaque.</p>
            <img class="portrait" src="./img/newprofile1.jpg">
        </div>
        
        {{>footer}}
    </body>
</html>