<!DOCTYPE html>
<html>
    <head>
        <title>Weather</title>
        <link rel="icon" href="/img/weather.png">
        <link rel="stylesheet" href="/css/styles.css">
        

    </head>
    <body>

        <div class="main-content">
             {{>header}}
             <p>This is where the weather goes</p>

             <form action="">
                 <input placeholder="Location" type="text">
                 <button>Search</button>
             </form>

             <p id="message-one"></p>
             <p id="message-two"></p>
        </div>
       
        
        {{>footer}}

        <script src="/js/app.js"></script>
    </body>
</html>